:root {
  /* colors */
  --primary: hsl(185, 75%, 39%);
  --text: hsl(227, 10%, 46%);
  --heading: hsl(229, 23%, 23%);
  --bg: hsl(225, 10%, 92%);
  --shadow-hsl: 229, 23%, 23%;

  /* fonts */
  --ff: "Kumbh Sans", sans-serif;

  --fs-xm: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
  --fs-sm: clamp(0.875rem, 0.7321rem + 0.7143vw, 1.375rem);
  --fs-m: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);

  --fw-bold: 700;
  --fw-regular: 400;

  /* spacing */
  --spacing-xl: 2.5rem;
  --spacing-xm: 1.75rem;
  --spacing-m: 1.25rem;
  --spacing-sm: 1rem;
}

*,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Kumbh Sans";
    src: url("../assets/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf");
    font-display: swap;
    font-style: normal;
    font-weight: 400 700;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    background-color: var(--primary);
  }
