main {
  padding: var(--spacing-m);
}

.profile-card {
  width: 100%;
  max-width: 400px;
  background-color: var(--bg);
  border-radius:1rem; 
  box-shadow: 0px 20px 14px 8px hsla(var(--shadow-hsl), 0.3);
}

.header__img img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.profile-card__content {
  text-align: center;
  display: grid;
  place-items: center;
  gap: var(--spacing-m);
  margin-block-start: -3rem;
}

.profile-card__content img {
  border-radius: 50%;
  border: 3px solid var(--bg);
}

.profile-card__user {
  font-weight: var(--fw-bold);
  font-size: var(--fs-m);
  font-family: var(--ff);
}

.user__age {
  font-weight: var(--fw-regular);
  font-family: var(--ff);
  color: var(--text);
}

.profile-card__country {
  font-family: var(--ff);
  font-size: var(--fs-sm);
  color: var(--text);

}

.profile-card__info {
  width: 100%;
  padding: var(--spacing-xl);
  margin-block-start: var(--spacing-sm);
  border-top: 1px solid var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info strong {
  font-family: var(--ff);
  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
  color: var(--heading);
}

.info span {
  font-family: var(--ff);
  font-size: var(--fs-xm);
  font-weight: var(--fw-regular);
  color: var(--text);
}
